@model  RidingClubMS.BLL.Entities.Horse
@{
    ViewData["Title"] = "AddHorse";
}

<h2>AddHorse</h2>
<div class="row">
    @using (Html.BeginForm())
    {
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="form-group">

            @Html.LabelFor(m => m.HorseName, "Imię konia", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.HorseName)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, "Data urodzenia", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.DateOfBirth)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HorseBreed, "Rasa", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.HorseBreed)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HorseSex, "Płeć", new { @class = "col-4" })
            @Html.DropDownListFor(m => m.HorseSex, new List<SelectListItem> {
new SelectListItem { Value = "0" , Text = "Klacz" },
new SelectListItem { Value = "1" , Text = "Ogier" },
new SelectListItem { Value = "2" , Text = "Wałach" }
},
                         new { @class = "myselect" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HorseCoulour, "Maść", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.HorseCoulour)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HorseSire, "Ojciec", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.HorseSire)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HorseDam, "Matka", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.HorseDam)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HorseBreeder, "Hodowca", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.HorseBreeder)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HorseOwner, "Właściciel", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.HorseOwner)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.HorseDescription, "Opis konia", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.HorseDescription)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ImgUrl, "Zdjęcie", new { @class = "col-4" })
            @Html.TextBoxFor(m => m.ImgUrl)
        </div>

    </div>
        <input type="submit" value="Dodaj" id="add" class="btn btn-success"/>
        @Html.ActionLink("Wróć", "GetHorses", "Horse", (object)null, new { @class = "btn btn-primary" })
    }
    </div>
