@model RidingClubMS.BLL.Entities.Horse
@{
    ViewData["Title"] = "EditHorse";
}

<h2>EditHorse</h2>
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">

                @Html.LabelFor(m => m.HorseName, "Imię konia", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.HorseName, Model.HorseName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DateOfBirth, "Data urodzenia", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.DateOfBirth, Model.DateOfBirth)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HorseBreed, "Rasa", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.HorseBreed, Model.HorseBreed)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HorseSex, "Płeć", new { @class = "col-4" })
                @Html.DropDownListFor(m => m.HorseSex, new List<SelectListItem> {
                new SelectListItem { Value = Model.HorseSex , Text = Model.HorseSex },
                new SelectListItem { Value = "Klacz" , Text = "Klacz" },
                new SelectListItem { Value = "Ogier" , Text = "Ogier" },
                new SelectListItem { Value = "Wałach" , Text = "Wałach" }
                },
                         new { @class = "myselect" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HorseCoulour, "Maść", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.HorseCoulour, Model.HorseCoulour)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HorseSire, "Ojciec", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.HorseSire, Model.HorseSire)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HorseDam, "Matka", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.HorseDam, Model.HorseDam)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HorseBreeder, "Hodowca", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.HorseBreeder, Model.HorseBreeder)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HorseOwner, "Właściciel", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.HorseOwner, Model.HorseOwner)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.HorseDescription, "Opis konia", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.HorseDescription, Model.HorseDescription)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ImgUrl, "Zdjęcie", new { @class = "col-4" })
                @Html.TextBoxFor(m => m.ImgUrl, Model.ImgUrl)
            </div>

        </div>
        <input type="submit" value="Edytuj" id="edit" class="btn btn-success" />
        @Html.ActionLink("Wróć", "GetHorses", "Horse", (object)null, new { @class = "btn btn-primary" })
    }
</div>
