@model List<RidingClubMS.BLL.Entities.Horse>
@{
    ViewData["Title"] = "GetHorses";
}

<h2>GetHorses</h2>
@Html.ActionLink("Dodaj konia", "AddHorse", "Horse", (object)null, new { @class = "btn btn-primary" })
<table class="table table-striped">

    <tr>
        <th>Imię</th>
        <th>Rasa</th>
        <th>Data urodzenia</th>
        <th>Hodowca</th>
        <th>Opcje</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HorseName</td>
            <td>@item.HorseBreed</td>
            <td>@item.DateOfBirth</td>
            <td>@item.HorseBreeder</td>
            <td>
                @Html.ActionLink("Usuń", "DeleteHorse", new { HorseId = item.HorseId }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Szczegóły", "GetHorse", new { HorseId = item.HorseId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
